<h2>Add Wallet</h2>
   
<form action="/wallet/add-wallet" method="post">

    <label for="name">Name</label>
    <input id="name" type="text" name="name">

    <label for="description">Description</label>
    <input id="description" type="text" name="description">

    <label for="initialBudget">Inital Budget</label>
    <input id="initialBudget" name="initialBudget">

    <button class="button-design" type="submit">Add Wallet</button>

</form>