<html>
  <head>
    <title>TheWallet</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
    ></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a class="button-design" href="/">Home</a></li>
        <li><a class="button-design" href="/account/profile">Profile</a></li>
        <li><a class="button-design" href="/wallet/all-wallets">Wallets</a></li>
        <li><a class="button-design" href="/auth/logout">Logout</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>